In [1]:
#global variable
p=100
print('Global scope:Initial',p)
def localscope():
    global p
    p=10
    print('Local scope',p)
    print('I am in this block')
print('where am i')
localscope()
print('Global Scape',p)

Global scope:Initial 100
where am i
Local scope 10
I am in this block
Global Scape 10

In [3]:
#data stucture
data=[1,2,3,4]
#index:0,1,2,3
#index:-4,-3,-2,-1
print(data[0])
print(data[0:4])#starting from 0 and last index -1
print(data[-1])

1
[1, 2, 3, 4]
4

In [4]:
data.append(4)#add at end

data

In [5]:
print(data)

[1, 2, 3, 4, 4]

In [6]:
del data[4]#deleted from a list where 4 is an index

In [7]:
print(data)

[1, 2, 3, 4]

In [9]:
print("maximimum number",max(data),"minimum number",min(data),"length os list",len(data))

maximimum number 4 minimum number 1 length os list 4

In [10]:
data.pop()#delete element from last by default

4

In [11]:
data

[1, 2, 3]

In [12]:
data.pop(1)#when we give index

2

In [13]:
data

[1, 3]

In [14]:
#insert in perticular position
data.insert(1,"new_data")

In [15]:
data

[1, 'new_data', 3]

In [16]:
data.remove('new_data')

In [17]:
data

[1, 3]

In [18]:
data.reverse()#reverse the number start from -1 to 0

In [19]:
data

[3, 1]

In [20]:
data.sort()

In [21]:
data

[1, 3]

In [22]:
#sum of element in the list
#list=[1,2,3,4,5,6,7,8,9,10]
list=[]
n=int(input("enter the no of element you want to insert"))
for i in range(0,n):
    ele=int(input())
    list.append(ele)
print(sum(list))

enter the no of element you want to insert5
1
2
3
4
5
15

In [23]:
#find maximum no in the list
print(max(list))

5

In [24]:
#find minimum number in the list
print(min(list))

1

In [27]:
#find average element
sum=0
for i in range(n):
    sum+=list[i]
print("average=",sum/n)

average= 3.0

In [30]:
#check whether a given element is there in alist or not
f=0
ch=int(input("Enter the number to be searched"))
for i in range(n):
    if list[i] == ch:
        print("element found at index",i)
        f=1
        break;
if f==0:
    print("element not found")

Enter the number to be searched6
element not found

In [29]:
list

[1, 2, 3, 4, 5]

In [31]:
#check whether a given element is there in alist or not
f=0
ch=int(input("Enter the number to be searched"))
for i in range(n):
    if list[i] == ch:
        print("element found at index",i)
        f=1
        break;
if f==0:
    print("element not found")

Enter the number to be searched3
element found at index 2

In [32]:
#maximum
max=list[0]
for i in range(n):
    if(max<list[i]):
        max=list[i]
        
print("maximum number",max)

maximum number 5

In [33]:
#minimum
min=list[0]
for i in range(n):
    if(min>list[i]):
        min=list[i]
        
print("minimum number",min)

minimum number 1

In [34]:
list=[1,2,3,4,5,6,7,8,9,10]
list[1:4]

[2, 3, 4]

In [35]:
list[4:]

[5, 6, 7, 8, 9, 10]

In [36]:
list[:4]

[1, 2, 3, 4]

In [38]:
list[::2]#alternate of two

[1, 3, 5, 7, 9]

In [39]:
list[::]#list all

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
name="guru"
no=77
#print(name+no) error
print(name+str(no))#typecasting

guru77

In [43]:
print(name*3)#print 3 times

guruguruguru

In [48]:
oldstring="qwerstyuislkjhsgfv"
newstring=oldstring.replace("qw","aa") #replace(oldstring,newstring)
print(oldstring.capitalize())
print(oldstring.split('s'))
print(oldstring.count('w',0,len(oldstring)))#no. of occurence here w occur only once 
print(newstring)

Qwerstyuislkjhsgfv
['qwer', 'tyui', 'lkjh', 'gfv']
1
aaerstyuislkjhsgfv

In [49]:
print("p" in list)

False

In [50]:
print(2 in list)

True

In [51]:
print(3 not in list)

False

In [53]:
print(":".join("Python"))

P:y:t:h:o:n