In [3]:
"""list-same or differnt type of datatype
//list[]
//dictonaries{}
//muable=not change
//immutable=cannot change
//tuples-immutable{}
//set-unordered collection key value pair ("a","b")
"""

'list-same or differnt type of datatype\n//list[]\n//dictonaries{}\n//muable=not change\n//immutable=cannot change\n//tuples-immutable{}\n//set-unordered collection key value pair ("a","b")\n'

In [4]:
print("Hello, World!")

Hello, World!

In [5]:
#Python uses indentation to indicate a block of code.
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [6]:
'''Python will give you an error if you skip the indentation:

Example
if 5 > 2:
print("Five is greater than two!")
'''

'Python will give you an error if you skip the indentation:\n\nExample\nif 5 > 2:\nprint("Five is greater than two!")\n'

In [7]:
x = 5
y = "John"
print(x)
print(y)
#If you try to combine a string and a number, Python will give you an error:

5
John

In [8]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
#To verify the type of any object in Python, use the type() function:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
a = "Hello, World!"
print(a[1])#when we give index

e

In [10]:
b = "Hello, World!"
print(b[2:5])#start with index 2 and end with index 4 print only 2,3,4

llo

In [11]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [12]:
print(len(a))

15

In [13]:
print(a.lower())

 hello, world!

In [14]:
print(a.replace("H", "J"))

 Jello, World!

In [15]:
# split() method splits the string into substrings if it finds instances of the separator
print(a.split(","))

[' Hello', ' World! ']

In [16]:
#using the input() method, the program prints the name to the screen
print("Enter your name:")
x = input()
print("Hello, ", x)

Enter your name:
admin
Hello,  admin

In [17]:
'''operator

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators
'''
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [18]:
#A list is a collection which is ordered and changeable. In Python lists are written with square brackets.
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(thislist[1])

['apple', 'banana', 'cherry']
banana

In [19]:
#1st parameter default 0 else starting position
#2 parameter start,end with -1 
#3 parameter start end decrement
for x in range(6):
    print(x)

0
1
2
3
4
5

In [20]:
for x in range(10,21):
    print(x)

10
11
12
13
14
15
16
17
18
19
20

In [21]:
for x in range(20,9,-1):
    print(x)

20
19
18
17
16
15
14
13
12
11
10

In [22]:
#assignment
'''o/p  15 * 1 = 15
        15 * 2 = 30
        .....
        
        15 * 10 = 150
'''
for x in range(1,11):
    print('15 *',x,' = ',15*x)

15 * 1  =  15
15 * 2  =  30
15 * 3  =  45
15 * 4  =  60
15 * 5  =  75
15 * 6  =  90
15 * 7  =  105
15 * 8  =  120
15 * 9  =  135
15 * 10  =  150

In [23]:
for x in range(10,0,-1):
    print('15 *',x,' = ',15*x)

15 * 10  =  150
15 * 9  =  135
15 * 8  =  120
15 * 7  =  105
15 * 6  =  90
15 * 5  =  75
15 * 4  =  60
15 * 3  =  45
15 * 2  =  30
15 * 1  =  15

In [24]:
i=int(input("Enter a number"))
for x in range(1,11):
    print(i,' *',x,' = ',i*x)

Enter a number2
2  * 1  =  2
2  * 2  =  4
2  * 3  =  6
2  * 4  =  8
2  * 5  =  10
2  * 6  =  12
2  * 7  =  14
2  * 8  =  16
2  * 9  =  18
2  * 10  =  20

In [25]:
#function may or may not return a value
def add(num1,num2):
    return num1 +num2

sum = add(100,150)
print('sum is ',sum)

sum is  250

In [1]:
#program to calculate simple interest
def si(p,r,t):
    return(p*r*t/100)

sim=si(100,8,2)
print('simple interst= ',sim)

simple interst=  16.0

In [9]:
def disc(amount):
    if amount>30000:
        return(amount-(30*amount/100))
    elif 20000<amount<30000:
        return(amount-(20*amount/100))
    else:
        return(amount-(10*amount/100))

di=disc(int(input("enter amount")))
print('discount ',di)

enter amount1000
discount  900.0

In [12]:
def ec(unit):
    if unit<=100:
        return 1*unit
    elif 100<unit<=200:
        return 100+(unit-100)*2
    else:
        return 300+(unit-200)*3

amount=ec(int(input("enter the meter reading")))
print(amount)

enter the meter reading320
660

In [16]:
num=int(input("enter a number"))
if num>1:
    for i in range(2,num):
        if (num/2)%i == 0:
            print("it not is prime")
            break;
        else:
            print("it is a prime")
            break;
else:
    print(num,"not a prime" )

enter a number11
it is a prime

In [3]:
sum=0
num=int(input("enter a number"))

while num>0:
    sum=(num%10)+sum
    num=num/10
    num=int(num)
    
print("sum of digit",sum)

enter a number123
sum of digit 6

In [7]:
num=int(input("enter a number"))
sum=0

while num>0:
    sum=(num%10)+(sum*10)
    num/=10
    num=int(num)
    
print("reverse of number",sum)

enter a number123
reverse of number 321